@import url(nullystyle.css);
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@300;400;700&display=swap');

* {
    font-family: 'League Spartan', sans-serif;
    transition: all 1s ease;
}

header {
    background-color: #F8F8F8;
    
}

.container {
    margin-left: 133px;
    margin-right: 168px;
}

.header-wrapper {
    display: flex;
}

.header-description h1 {
font-size: 24px;
font-weight: 300;
text-align: left;
margin-bottom: 43px;
margin-top: 104px;
}

.mor-title {
font-size: 250px;
font-weight: 300;
text-align: left;
margin-bottom: 33px;
}

.mor-description {
font-size: 32px;
font-weight: 300;
text-align: left;
margin-bottom: 41px;
width: 575px;
}

.buy-menu {
    display: flex;
    margin-bottom: 158px;
}
.buy-menu a {
    display: inline-block;
    background-color: #161515;
    text-decoration: none;
    font-family: League Spartan;
    font-size: 32px;
    font-weight: 300;
    text-align: center;
    padding: 30px 74px 35px 73px;
    color: #FFFF;
}
.buy-menu a:hover {
    transform: scale(1.1, 1.1);
    background-color: #707070;
}

.buy-menu div {
    background-color: #FFFF;
    padding: 30px 27px 31px 28px;
    font-size: 32px;
    font-weight: 300;
   text-align: center;
   width: 143px;
}

.header-image img {
    margin-right: 20px;
    margin-left: 70px;
        }
       
.header-image img:hover {
    transform: scale(1.1, 1.1);
}
    .main-top {
        text-align: center;
    }
    .main-top h2 {
        font-size: 24px;
        line-height: 44.64px;
    }

    .main-top div{
        font-size: 72px;
        font-weight: 400;
        line-height: 81px;
        
    }

    .item-image-wrapper {
        background-color: #F8F8F8;
        width: 417px;
        margin: 0 auto;
    }
    
    .item-image-wrapper img{
        display: block;
        margin: 0 auto;
        padding: 110px 0;
    }

    .item-image-wrapper img:hover {
        transform: scale(1.1, 1.1);
    }

    .main-title {
margin-top: 75px;
padding-bottom: 12px;
font-size: 32px;
font-weight: 400;
line-height: 29px;
text-align: center;
}

.main-description {
margin: 0 auto;
font-size: 32px;
font-weight: 300;
line-height: 50px;
text-align: center;
width: 531px;
}

.main-item {
    margin-top: 82px;
}
.sw12 img{
    margin-left: -50px;
}
.footer    {
    text-align: center;
    padding-bottom: 142px;
    
}
.footer-title {
font-size: 32px;
font-weight: 400;
line-height: 60px;
margin-top: 59px;


}
.title-border {
    border-bottom: 1px solid #707070;
    width: 173px;
    margin: 0 auto;
    margin-bottom: 59px;
}
.about {
width: 535px;
font-size: 24px;
font-weight: 400;
line-height: 40px;
margin: 0 auto;

}

.about a {
    color: #BB8B5D;
}